{% load branding i18n staticfiles %}
{% load load_config from horizon %}

{% load_config as CONF %}


{% comment %}

    NB: The context for 500 pages is an empty dict.
        Don't add any content here that depends on things from
        the context.

{% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <link rel="shortcut icon" href="{% static "dashboard/img/favicon.ico" %}"/>
    <title>{% trans "Server error" %} - {% site_branding %}</title>
    {% block css %}
    <style>
    a {
        color: #2a8d8e;
    }
    body {
      background: $navbar-default-bg;
    }
    div#container {
      background: url("{% static "dashboard/img/logo-splash.png" %}") no-repeat scroll center 35px ;
    }
    </style>
    {% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}">
    {% block page_header %}{% endblock %}
    {% block content %}
    <div id="container">
      <div id="text">
        {% block text %}
        <h2>{% trans "Something went wrong!" %}</h2>
        <p>{% trans "An unexpected error has occurred. Try refreshing the page. If that doesn't help, contact your local administrator." %}</p>
        {% endblock %}
      </div>
      <div id="links">
        {% block links %}
        <p><a href="{{ CONF.WEBROOT }}">{% trans "Home" %}</a></p>
        <p><a href="{{ CONF.HORIZON_CONFIG.help_url }}">{% trans "Help" %}</a></p>
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    {% block footer %}{% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>
