#splash {background-color: #00243e;}
#splash .panel, .panel-default > .panel-heading, .panel-footer {background-color: #00243e; color: #ffffff; border: 0;}
#splash input { color: #ffffff; background-color: #003159; border-color: #001727;}
#sidebar .panel {
    color: #fff;
    background: #00243e;
}

#sidebar .panel > a {
    color: #fff;
    background: #00243e;
}

#sidebar .panel > a:hover {
    color: #fff;
    background: #003159;
}

#sidebar .panel .list-group-item:not(.active) {
      color: #fff;
      background: #003159;
}
#sidebar .panel a:not(.active):hover {
      color: #fff;
      background: #013a69;
}
