@import "horizon.scss";

body { background: #f5f5f5; }

.topbar { 
  background: #383c3e; 
  border-bottom: 1px solid #000;
  padding-right: 15px;
  box-shadow: #666 1px 1px 3px;
  .switcher_bar .btn.btn-topnav {
    padding: 8px 12px;
    font-size: 13px;      
    border-radius: 0px;
    line-height: 1.42857;
    border-radius: 0px;
    color: #d7d7d7;
    background-color: #222;
    border-color: #222;
    border: 1px solid #000;
  }
}
.sidebar {
  background-color: #232526;
  border-width: 0 2px 2px 0;
  border-color: #0b0e0c;
  border-style: solid;
  box-shadow: #999 1px 1px 3px;
  h4 { margin-left: 0px }
}
.nav_accordion {
  background-color: #232526;
  dt {
    background-color: #232526;
    border-bottom: 1px solid #171819;
    padding: 0.5em 1.2em;
    max-width: 231px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #d7d7d7;
    span { color: #fff; }
  }
  dt.active {
    background-color: #434343;
    color: #7ac142;
  }
  dd {
    a { color: #fff; }
    h4 {
      padding-left: 35px;
      color: #d7d7d7;
      background-color: #252829;
      border-top: 3px solid #383c3e; 
      border-bottom: 0px; 
      span { color: #fff; }
    }
    h4.active { 
      color: #7ac142;
    }
    ul { 
      background-color: #171819;
      list-style: outside none none;
      margin: 0px;
      padding: 0px;
    }
  //   li a { padding-left: 35px; width: 236px;}
    li a.active {
      color: #7ac142;
      background-color: #111;
      border: none;
      border-top: 1px solid #000;
      border-bottom: 1px solid #222;
      //box-shadow: -3px 3px 6px -3px #C7C7C7;
    }
  //   li a:last-child {
  //     margin-bottom: 0px;
  //   }
  }  
}

.page-header {
  border-bottom: 0px;
  text-indent: -999px;
  padding: 0px;
  margin: 0px;
  h2 {
    font-size: 10px;
  }
}

html, body {
  height: 100%;
}

#splash {
  @include gradient-horizontal(#1fad7a, #80c235);
  .login {
    background-color: #252829;
    width: 300px;
    border: 1px solid  #333;
    top: auto;
    left: auto;
    position: static;
    margin: 0px;
    margin-bottom: 120px;
    @include center-block;
    border-radius: 0px 0px 8px 8px;
  }
  .modal-header {
    border: none;
    padding: 0;
    min-height: 0;
  }
  .modal-body {
    background-color: #252829;
    color: #fff;
    label { color: #fff; font-weight: normal }
  }
  .btn-primary {
    background-color: #00b268;
    color: #fff;
    width: 100%;
    border-color: transparent;
  }
  .modal-footer {
    border: none;
    padding-top: 0px;
  }
}

.form-control-feedback {
  color: #000;
  top: 0;
}
