@import "horizon.scss";


.topbar { 
  background: #3f2c50; 
  border-bottom: 1px solid #000;
  padding-right: 15px;
  box-shadow: none;
  .switcher_bar .btn.btn-topnav {
    color: #d7d7d7;
    background-color: #3f2c50;
    border: 0;
  }
  .switcher_bar .btn.btn-topnav:hover, .switcher_bar .btn.btn-topnav:focus, .switcher_bar .btn.btn-topnav.active {
    color: #d7d7d7;
    background-color: #2e203b;
    border: 0;
  }
}
.switcher_bar {
  margin-left: 50px;
}
.sidebar {
  background-color: #4f4b54;
  box-shadow: none;
}
.nav_accordion {
  background-color: #8a868b;
  dt {
    background-color: #8a868b;
    border: 0 !important;
    color: #fff;
  }
  dt:hover {
    background-color: #6a666b;
  }
  dt.active {
    background-color: #2a8d8e;
    color: #fff;
  }
  dt.active:hover {
    background-color: #2a8d8e;
    color: #fff;
  }
  dd {
    background-color: #aeaaaf;
    border-bottom: 2px solid #2a8d8e;
    li > a {
      color: #fff;
    }
    li > a:hover {
      color: #227474;
    }
    h4 {
      color: #fff;
      margin-left: 35px;
      border-top: 0; 
      border-bottom: 0;
      margin-top: 0px !important; 
      span { color: #fff; }
    }
    h4.active { 
      color: #fff;
      border-bottom: 1px solid #9d979e;
    }
    ul { 
      background-color: #aeaaaf;
      margin: 0px;
      padding: 0px;
    }
    li a.active {
      color: #2a8d8e;
      border-left-color: #2a8d8e;
    }
  }  
}

.page-header {
  border-bottom: 0px;
  text-indent: -999px;
  padding: 0px;
  margin: 0px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}

html, body {
  height: 100%;
}


#splash {
  background-color: #3f2c50;
  .login {
    background-color: #fff;
  }
  .modal-header {
    border: none;
    padding: 0;
    min-height: 10px;
  }
  .modal-body {
    background-color: #fff;
    color: #111;
    label { color: #fff; font-weight: normal }
  }
  .btn-primary {
    background-color: #2a8d8e;
    color: #fff;
    width: 100%;
  }
  .modal-footer {
    border: none;
    padding-top: 0px;
  }
}

.form-control-feedback {
  color: #000;
  top: 0;
}

