@import "horizon.scss";

body { background: #f5f5f5;}

.topbar { 
  background: #383c3e; 
  border-bottom: 1px solid #000;
  box-shadow: #666 1px 1px 3px;
  #user_info > a {
    color: #d7d7d7;
  }
  .context-box .context-selection .dropdown-toggle {
    color: #d7d7d7;
  }
  .switcher_bar {
    background-color: #222;
    background-repeat: no-repeat;
    border: 1px solid #000;
    border-radius: 4px;
    div { color: #d7d7d7; }
  }
}
.sidebar {
  border-width: 0 2px 2px 0;
  border-color: #0b0e0c;
  border-style: solid;
  box-shadow: #999 1px 1px 3px;
  h4 { margin-left: 0px }
}
.nav_accordion {
  background-color: #232526;
  dt {
    background-color: #232526;
    background-image: url(/static/dashboard/img/right_droparrow-light.png);
    background-position: 13px;
    border-bottom: 1px solid #171819;
    border-top: 1px solid #383c3e;
    padding-right: 0px;
    padding-left: 15px;
    max-width: 236px;
    margin-right: 0px;
    div { color: #d7d7d7; }
  }
  dt.active {
    background-image: url(/static/dashboard/img/drop_arrow-light.png);
    background-position: 10px;
    background-color: #434343;
    border-bottom: 1px solid #171819;
    border-top: 1px solid #666;
    width: 236px;
    margin-right: 0px;
    div { color: #7ac142; }
  }
  dd {
    margin-left: 0px;
    a { color: #fff; }
    h4 {
      color: #fff;
      background-position: 23px;
      background-color: #252829;
      background-image: url(/static/dashboard/img/right_droparrow-light.png);
      border: none;
      border-top: 1px solid #383c3e; 
      padding-left: 25px;
      max-width: 100%;
      div { color: #d7d7d7; }
    }
    h4.active { 
      background-color: #252829;
      background-position: 20px;
      border-bottom-color: #000;
      padding-left: 25px;
      background-image: url(/static/dashboard/img/drop_arrow-light.png);
      div { color: #7ac142; } 
    }
    ul { 
      background-color: #171819;
      width: 236px; 
      margin-top: 0px; 
    }
    li a { padding-left: 35px; width: 236px;}
    li a.active {
      color: #7ac142;
      background-color: #111;
      border: none;
      border-top: 1px solid #000;
      border-bottom: 1px solid #222;
      margin-left: 0px;
      padding-left: 55px;
      width: 100%;
    }
    li a:last-child {
      margin-bottom: 0px;
    }
  }  
}

.page-header {
  border-bottom: 0px;
  text-indent: -999px;
  padding: 0px;
  margin: 0px;
  h2 {
    font-size: 10px;
  }
}

html, body {
  height: 100%;
}

#splash {
  @include gradient-horizontal(#1fad7a, #80c235);
  .login {
    background-color: #252829;
    width: 300px;
    border: 1px solid  #333;
    top: auto;
    left: auto;
    position: static;
    margin: 0px;
    margin-bottom: 120px;
    @include center-block;
    border-radius: 0px 0px 8px 8px;
  }
  .modal-header {
    border: none;
    padding: 0;
    min-height: 0;
  }
  .modal-body {
    background-color: #252829;
    color: #fff;
    label { color: #fff; font-weight: normal }
  }
  .btn-primary {
    background-color: #00b268;
    color: #fff;
    width: 100%;
    border-color: transparent;
}
  .modal-footer {
    border: none;
    padding-top: 0px;
  }
}

.form-control-feedback {
  color: #000;
  top: 0;
}
